{% extends 'blog/base.html' %}

{% block content %}

    <div class="page-header">
        <h1><a href="/">BLOG</a></h1>
        {% if user.is_authenticated %}
            <div class="tools-container">
                <a class="top-menu add-post" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="post">
                    <h1>{{ post.title }}</h1>
                    {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}